<h1> Showing article with id: <%= params[:id] %> </h1>
<p> title: <%= @article.title %> </p>
<p> description: <%= @article.description %> </p>


<%= link_to "Return to articles listing page", articles_path %>